/* General varosha form styling */
.styled-form {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.styled-form h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

/* Flex container for form rows */
.styled-form .form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

/* Input fields and labels */
.styled-form input[type="text"],
.styled-form input[type="number"],
.styled-form input[type="email"],
.styled-form input[type="password"],
.styled-form textarea,
.styled-form select {
    flex: 1 1 200px; /* Adjust the base width for input fields */
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Specific styling for smaller input fields */
.styled-form input.date-field {
    flex: 1 1 60px; /* Adjust width for date fields */
}

.styled-form input.name-field {
    flex: 1 1 300px; /* Adjust width for name fields */
}

.styled-form label {
    font-weight: bold;
    margin-right: 10px;
    flex: 1 1 100px; /* Adjust label width */
    color: #555;
}

/* Submit button */
.submit-button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #0056b3;
}


/* Reducing space between form elements */
.styled-form .form-row {
    margin-bottom: 5px;
}
