{% load i18n static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_point_form.css' %}">
</head>
<form action="{% if point_form.instance.id %}{% url 'add-point-form' point_form.instance.id %}{% else %}{% url 'edit-point' %}{% endif %}" method="post" class="styled-form">
    {% csrf_token %}
    <div class="form-row"  style="display:none;">
        {{ point_form.id }}{{ point_form.x }}{{ point_form.y }}
    </div>
    <div class="form-row">
        {{ point_form.name.label_tag }}{{ point_form.name }}
    </div>
    <div class="form-row">
        {{ point_form.name_gr.label_tag }}{{ point_form.name_gr }}
    </div>
    <div class="form-row">
        {{ point_form.type.label_tag }}{{ point_form.type }}
    </div>

    {% if associated_people %}
        <h3>{% translate "Associated People" %}</h3>
    {% endif %}
    <div id="persons">
        {{ person_formset.management_form }}
        {% for form in person_formset %}
            <div class="person-form">
                <div class="form-row"  style="display:none;">
                    {{ form.id }} 
                </div>
                <div class="form-row">
                    {{ form.name.label_tag }}{{ form.name }}
                </div>
                <div class="form-row">
                    {{ form.name_gr.label_tag }}{{ form.name_gr }}
                </div>
                <div class="form-row">
                    {{ form.birth_year.label_tag }}{{ form.birth_year }}
                    {{ form.death_year.label_tag }}{{ form.death_year }}
                </div>
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="submit-button">{% translate "Save" %}</button>
</form>