{% load i18n static %}
<form id="edit-point-form" action="{% url 'edit-point-form' point_form.instance.id %}" method="post" class="styled-form">
    {% csrf_token %}
    <div class="form-row"  style="display:none;">
        {{ point_form.id }}{{ point_form.x }}{{ point_form.y }}
    </div>
    <div class="form-row">
        {{ point_form.name }}
    </div>

    <!-- Display Existing Notes -->
    {% if existing_notes %}
    <div class="existing-notes">
        {% for note in existing_notes %}
        <div class="note">
            <p>{{ note.text }}</p>
            <!-- Optional: Add delete button -->
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!--  Notes Section -->
    <div class="form-row">
        {{ note_form.text }}
    </div>

    <!--  Media Section -->

    {% if existing_media  %}
        <div class="media-thumbnails-container"><div class="media-thumbnails">
            {% for media in existing_media  %}
                <div class="media-thumbnail"><a class="popup-image" target="_blank" href="{{media.path}}"><img src="{{media.path}}" width="100" height="100"></a></div>
            {% endfor %}
        </div></div>
    {% endif %}
    <button type="submit" class="submit-button" form="edit-point-form">{% translate "Save" %}</button>
    <input type="button" class="submit-button"  id="load-file-button" value="Add Photo" onclick="document.getElementById('file-upload').click();" />

</form>

    <div class="media-upload-section">
        <form id="media-upload-form-{{point_form.instance.id}}" enctype="multipart/form-data">
            <input type="hidden" name="point" value="{{point_form.instance.id}}">
            <button id ="upload-button" class="upload-button" type="button" onclick="uploadMedia({{point_form.instance.id}})" style="display: none">{% translate "Upload" %}</button>
            <span id="file-upload-filename"></span>
            <input type="file" name="file" id="file-upload" accept="image/*,video/*" style="display: none">

        </form>
        <div id="upload-status-{{point_form.instance.id}}"></div>
        <div id="media-preview" class="media-thumbnail" style="display: none"></div>
    </div>


