{% load i18n %}
{% load thumbnail %}
{% get_current_language as current_language %}
{% load static %}

<!DOCTYPE html>
<html lang="{{ current_language }}">
<head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Varosha - maps</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
</head>
<body data-locale="{{ current_language }}">
    {{ point_data|json_script:"point-data" }}
    <div id="map" style="width: 1400px; height: 1000px;"></div>
    <div id="fullScreenView">
        <div id="close-icon">&#x2715;</div>
        <div id="conversation-content"></div>
        <form id="user-message-form">
            {% csrf_token %}
            <input type="hidden" id="point_id" name="point_id">
            <input type="hidden" id="point_x" name="point_x">
            <input type="hidden" id="point_y" name="point_y">
            <input type="hidden" name="conversation_id">
            <input type="text" id="user_message" name="user_message" placeholder="Type your message here...">
            <button id="submitBtn" type="submit">Send</button>
        </form>
        <form id="close-conversation-form">
            <button type="submit">Close</button>
        </form>
    </div>

    <script>

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        var currentLocale = document.body.getAttribute('data-locale');

        var corner1 = L.latLng(35.148819,33.921361),
        corner2 = L.latLng(35.082100,33.988048),
        bounds = L.latLngBounds(corner1, corner2);
        center = L.latLng(35.1162,33.9502)
        let activePopup = null;
        var savedZoom = getCookie('mapZoom');
        var defaultZoom = 16;  // or whatever your default is
        var initialZoom = savedZoom ? parseInt(savedZoom) : defaultZoom;
        const map = L.map('map',{
            center: center,
            zoom: initialZoom,
            maxZoom: 19,
            minZoom:15,
            maxBounds: bounds
        });
        var selectedLayer = getCookie('selectedLayer') || "{% trans "Street map" %}";
        var hasSeenInstructionalPopup = getCookie('hasSeenInstructionalPopup') === 'true';


        // Create a new Leaflet control for the language switcher
        var LanguageControlSwitcher = L.Control.extend({
            onAdd: function(map) {
                var div = L.DomUtil.create('div', 'language-switcher-control');
                div.innerHTML = '<form action="{% url "set_language" %}" method="post">' +
                    '{% csrf_token %}' +
                    '<select name="language" onchange="this.form.submit()">' +
                    '{% get_current_language as LANGUAGE_CODE %}' +
                    '{% get_available_languages as LANGUAGES %}' +
                    '{% for code, name in LANGUAGES %}' +
                    '<option value="{{ code }}" {% if code == LANGUAGE_CODE %}selected{% endif %}>{{ name }}</option>' +
                    '{% endfor %}' +
                    '</select>' +
                    '</form>';
                L.DomEvent.disableClickPropagation(div);
                return div;
            }
        });
        languageControl = new LanguageControlSwitcher({position: 'topright'})
        // Add the language switcher control to the map
        map.addControl(languageControl);


        // Custom Control for Photo Gallery Link
        var photoGalleryControlButton = L.Control.extend({
            onAdd: function(map) {
                var div = L.DomUtil.create('div', 'photo-gallery-control');
                div.innerHTML = '<a href="{% url 'media_gallery' %}" target="_self" style="background-color: white; padding: 5px; border: 1px solid #ccc; border-radius: 5px;">{% trans "Photo Gallery" %}</a><a href="{% url 'feed' %}" target="_self" style="background-color: white; padding: 5px; border: 1px solid #ccc; border-radius: 5px;">{% trans "Feed" %}</a>';
                
                L.DomEvent.disableClickPropagation(div);
                return div;
            }
        });
        photoGalleryControl = new photoGalleryControlButton({position: 'topright'})
        const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        const osm2 = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        var sat_layer = L.tileLayer('https://varosha-map-data.s3.amazonaws.com/sat256/{z}/{x}/{y}.png', {minZoom: 15, maxZoom: 19, tms: false, attribution: 'Created by QGIS'});
        var aerial_layer = L.tileLayer('https://varosha-map-data.s3.amazonaws.com/1963_256/{z}/{x}/{y}.png', {minZoom: 15, maxZoom: 19, tms: false, attribution: 'Created by QGIS'});
        var survey_layer = L.tileLayer('https://varosha-map-data.s3.amazonaws.com/survey_256/{z}/{x}/{y}.png', {minZoom: 15, maxZoom: 19, tms: false, attribution: 'Created by QGIS'});
        var map_1968_layer = L.tileLayer('https://varosha-map-data.s3.amazonaws.com/army_map_1968/{z}/{x}/{y}.png', {minZoom: 15, maxZoom: 19, tms: false, attribution: 'Created by QGIS'});

        var baseMaps = {
            "{% trans "Street map" %}": osm,
        };
        var layerMaps = {
            "{% trans "Street map" %}": osm2,
            "{% trans "2023 Satellite" %}": sat_layer,
            "{% trans "1963 Aerial"%}": aerial_layer,
            "{% trans "1968 Map"%}": map_1968_layer,
            "{% trans "1929 Survey"%}": survey_layer,
        };

        // Select the saved layer
        for (var layerName in layerMaps) {
            if (layerMaps.hasOwnProperty(layerName) && layerName === selectedLayer) {
                map.addLayer(layerMaps[layerName]);
            } else {
                map.removeLayer(layerMaps[layerName]);
            }
        }
        var spinner = '<div id="spinner" class="spinner-overlay" style="display: none;"><div class="spinner"></div></div>'
        

        function loadPopup(data) {
                setCookie('mapZoom', map.getZoom(), 7);  // Saves for 7 days
                activePopup = addPointPopup;
                map.removeControl(layerControl);
                map.removeControl(languageControl);
                map.removeControl(map.zoomControl);
                map.removeControl(photoGalleryControl);

                addPointPopup.setContent(data);
                addPointPopup.update();
                var inputFile = document.getElementById(`file-upload`);
                var inputFileName = document.getElementById(`file-upload-filename`);
                var loadFileButton = document.getElementById(`load-file-button`);
                
                var uploadButton = document.getElementById(`upload-button`);
                inputFile.addEventListener('change', () => {
                    if(inputFile.files.length) {
                        uploadButton.click();
                    }
                    // if(inputFile.files.length) {
                    //     uploadButton.style.display = '';
                    //     loadFileButton.value = "{% trans "Change photo" %}";
                    //     var filename = inputFile.files[0].name;
                    //     inputFileName.innerText = filename;
                    // } else {
                    //     uploadButton.style.display = 'none';
                    //     loadFileButton.value = "{% trans "Add photo" %}";
                    //     inputFileName.innerText =  '';
                    // }
                activePopup
                });
                new Swiper('.swiper-container', {
					navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev',
					},
					pagination: {
						el: '.swiper-pagination',
						clickable: true,
					},
				});

				// Initialize Magnific Popup
				$('.popup-image').magnificPopup({
					type: 'image',
					gallery: {
						enabled: true
					}
				});

        }
        
        function createPoint(x, y) {
            addPointPopup
                .setLatLng([x,y])
                .setContent(spinner)
                .openOn(map);
            var url="create-point?x="+ x+"&y="+y;
            $.get(url).done(function(data) {
                loadPopup(data);
            });
            
        }
        function openEditForm(pointId, x, y) {
            addPointPopup
                .setLatLng([x,y])
                .setContent(spinner)
                .openOn(map);
            var url="edit-point/"+ pointId;
            $.get(url).done(function(data) {
                loadPopup(data);
            });
        }
        function openEditFormWithData(pointId, x, y, data) {
            addPointPopup
                .setLatLng([x,y])
                .setContent(spinner)
                .openOn(map);
            loadPopup(data);
        }

        const markers = [];
        const dbPointData = JSON.parse(
            document.getElementById('point-data').textContent
        );

        dbPointData.forEach(function(location) {
			var marker = L.marker([location.x, location.y]);



            marker.on('click', function(e) {
                openEditFormWithData(location.id, location.x, location.y, location.html);
            });
            
			markers.push(marker);

		});

        var poi = L.layerGroup(markers).addTo(map);
        var overlayMaps = {
            "{% trans "Places" %}": poi
        };

        var layerControl = L.control.layers(layerMaps, overlayMaps, {
            collapsed: false,
        }).addTo(map);
        map.addControl(photoGalleryControl);



        var addPointPopup = L.popup();
        

        addPointPopup.on("remove", function () {
            map.addControl(languageControl);

map.addControl(photoGalleryControl);
            map.addControl(layerControl);
            map.addControl(map.zoomControl);
            activePopup = null;
        });

        function onClick(e) {
            if (!Boolean(map.getContainer().querySelector('.leaflet-popup'))) {
                createPoint(e.latlng.lat, e.latlng.lng);
            }
        }

        map.on('click', onClick);


        function getQueryParams() {
            const urlParams = new URLSearchParams(window.location.search);
            return {
                lat: parseFloat(urlParams.get('lat')),
                lng: parseFloat(urlParams.get('lng')),
                point_id: parseInt(urlParams.get('point_id')),
            };
        }

        function uplpoadCommon(formData) {
            // Add CSRF token
            formData.append('csrfmiddlewaretoken', document.querySelector('[name=csrfmiddlewaretoken]').value);
    
            // Show upload status
            const statusDiv = document.getElementById('upload-status');
            const previewDiv = document.getElementById(`media-preview`);
            const fileInput = document.getElementById(`file-upload`);

            if(activePopup) {
                statusDiv.innerHTML = '{% translate "Uploading..." %}';
            }
            
            fetch('/media-form/', {
                method: 'POST',
                body: formData,
                credentials: 'same-origin'
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    if(activePopup) {
                        statusDiv.innerHTML = '{% translate "Upload successful!" %}';
                        // Add preview if it's an image
                        if (data.media_url) {
                            previewDiv.style.display = ''
                            previewDiv.innerHTML = `<img src="${data.media_url}" alt="Uploaded media" class="upload-preview">`;
                        }
                        // Clear the file input
                        fileInput.value = '';
                    } else {
                        statusDiv.innerHTML = `{% translate "Upload failed" %}: ${data.error}`;
                    }
                }
            })
            .catch(error => {
                statusDiv.innerHTML = '{% translate "Upload failed" %}';
                console.error('Upload error:', error);
            });
        }

        function uploadPastedImage(file) {
            if(activePopup) {
                const form = document.getElementById(`media-upload-form`);
                const formData = new FormData(form);
                formData.append('file', file);
                uplpoadCommon(formData);
            } else {
                const formData = new FormData();
                formData.append('file', file);
                uplpoadCommon(formData);
            }
        }

        // Add this function to handle media uploads
        function uploadMedia(pointId) {
            const form = document.getElementById(`media-upload-form`);
            const formData = new FormData(form);
            
            uplpoadCommon(formData);
        }

        // Modify paste handler to check for active popup
        document.addEventListener('paste', function(event) {
            
            if (activePopup) {
                const fileInput = document.getElementById(`file-upload`);
                if(fileInput.length) {
                    // Ignore paste if file has been input
                    return;
                }
            }
            const items = event.clipboardData.items;
            
            for (const item of items) {
                if (item.type.startsWith('image/')) {
                    
                    event.preventDefault();
                    const file = item.getAsFile();
                    uploadPastedImage(file);
                    break;
                }
            }
        });

        map.on('baselayerchange', function(e) {
            setCookie('selectedLayer', e.name, 7);
        });

        $(document).ready(function() {
            const { lat, lng } = getQueryParams();
            if (!isNaN(lat) && !isNaN(lng)) {
            // Find the marker at the specified lat and lng
            let foundMarker = null;
            markers.forEach(function(marker) {
                const markerLatLng = marker.getLatLng();
                if (markerLatLng.lat === lat && markerLatLng.lng === lng) {
                    foundMarker = marker;
                }
            });

            // Center the map on the marker and trigger a click if found
            if (foundMarker) {
                map.setView(foundMarker.getLatLng(), 16);
                foundMarker.fire('click');
            } else {
                map.setView([lat, lng], 18);
            }
        }
        });
    </script>
</body>
</html>
