
{% load i18n %}
{% get_current_language as current_language %}


<!DOCTYPE html>
<html lang="{{ current_language }}">
<head>
	<base target="_top">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Varosha - maps</title>
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 1000px;
			width: 1000px;
			max-width: 100%;
			max-height: 100%;
			}
		
	.leaflet-popup-content-wrapper {
	  max-width: 95vw; /* Set the width of the popup to 100% of the viewport width */
    }
	.leaflet-popup-content {
	  max-width: 95% !important; /* Ensure media fills the popup width */
      overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
    }

    .popup-content img, .popup-content video {
      max-height: 50% !important; /* Ensure images fill the popup width */
      width: 95%; /* Ensure media fills the popup width */
      max-width: 95% !important; /* Ensure images fill the popup width */
    }
        .popup-content ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .popup-content li {
            color: grey;
            font-size: smaller;
        }
	</style>

	
</head>

{{ point_data|json_script:"point-data" }}
<body data-locale="{{ current_language }}">

<div id="map" style="width: 1400px; height: 1000px;"></div>
<script>
	var currentLocale = document.body.getAttribute('data-locale');

    var corner1 = L.latLng(35.123819,33.931361),
    corner2 = L.latLng(35.082100,33.988048),
    bounds = L.latLngBounds(corner1, corner2);
	center = L.latLng(35.1162,33.9502)
	const map = L.map('map',{
        center: center,
        zoom: 16,
        maxZoom: 19,
        minZoom:15,
        maxBounds: bounds
    });
	
    // Create a new Leaflet control for the language switcher
    var LanguageControl = L.Control.extend({
        onAdd: function(map) {
            var div = L.DomUtil.create('div', 'language-switcher-control');
            div.innerHTML = '<form action="{% url "set_language" %}" method="post">' +
                '{% csrf_token %}' +
                '<select name="language" onchange="this.form.submit()">' +
                '{% get_current_language as LANGUAGE_CODE %}' +
                '{% get_available_languages as LANGUAGES %}' +
                '{% for code, name in LANGUAGES %}' +
                '<option value="{{ code }}" {% if code == LANGUAGE_CODE %}selected{% endif %}>{{ name }}</option>' +
                '{% endfor %}' +
                '</select>' +
                '</form>';
            L.DomEvent.disableClickPropagation(div);
            return div;
        }
    });

    // Add the language switcher control to the map
    map.addControl(new LanguageControl({position: 'topright'}));

	const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 20,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);
	const osm2 = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 20,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);
	
	var sat_layer = L.tileLayer('https://varosha-map-data.s3.amazonaws.com/sat256/{z}/{x}/{y}.png', {minZoom: 15, maxZoom: 19, tms: false, attribution: 'Created by QGIS'})
//	var aerial_layer = L.tileLayer('./maps/1963_jpg/{z}/{x}/{y}.jpg', {minZoom: 15, maxZoom: 19, tms: false, attribution: 'Created by QGIS'}).addTo(map)

//	var survey = L.tileLayer('./maps/survey_new/{z}/{x}/{y}.png', {minZoom: 15, maxZoom: 19, tms: false, attribution: 'Created by QGIS'})

    var baseMaps = {
    "{% translate "Street map" %}": osm,
    };
    var layerMaps = {
	"{% translate "Street map" %}": osm2,
    "{% translate "2023 Satellite" %}": sat_layer,
   // "1963 Aerial": aerial_layer,
 //   "1929 Survey": survey,
    };

	markers = []
	const dbPointData = JSON.parse(
		document.getElementById('point-data').textContent
		);

	dbPointData.forEach(function(location) {
		var marker = L.marker([location.x, location.y])
		    // Determine the name to use based on the locale
			var locationName;
			console.log(currentLocale)
			if (currentLocale === 'el') {
				locationName = location.name_gr || location.name;  // Fallback to name if name_gr is not available
			} else {
				locationName = location.name || location.name_gr;
			}

		// Define the popup content with either image or video and text
		var popupContent = '<div class="popup-content">';
		console.log(location)
		if (location.media) {
			var media_src = location.media.url
			if (media_src.endsWith('.mp4') || media_src.endsWith('.webm')) {
				popupContent += '<video autoplay><source src="' + media_src+ '" type="video/mp4">Your browser does not support the video tag.</video>';
			} else {
				popupContent += '<img src="' + media_src + '">';
			}
		}
            popupContent += '<p>' + locationName + '</p>';


            // Add associated people to the popup content
            if (location.people && location.people.length > 0) {
                popupContent += '<ul>';
                location.people.forEach(function(person) {
                    var personName = (currentLocale === 'el') ? person.name_gr : person.name;
                    var birthDeathInfo = person.birth_year + " - " + (person.death_year || '');
                    popupContent += '<li>' + personName + ' (' + birthDeathInfo + ')</li>';
                });
                popupContent += '</ul>';
            }

            popupContent += '</div>';


		// Bind the popup content to the marker
		marker.bindPopup(popupContent);
		markers.push(marker)
	});
	var poi = L.layerGroup(markers).addTo(map);
	var overlayMaps = {
		"{% translate "Points of Interest" %}": poi
	}
    var layerControl = L.control.layers( layerMaps,overlayMaps,{
			collapsed:false,
	}).addTo(map);
	var popup = L.popup({keepInView: true})
    .setLatLng(center)
    .setContent('<p>{% translate "What is this?" %}<br />{% translate "This is a map of the fenced off city of Varosha,<br /> with layers showing a current satellite view, <br />a 1963 aerial view, <br />and a set of 1929 survey maps." %}<br /><br />{% translate "Use the layer controls at top right to <br />control what you see" %}</p>')
    .openOn(map);
	var addPointPopup = L.popup();
	function onClick(e) {
		if (!Boolean(map.getContainer().querySelector('.leaflet-popup'))) {
			addPointPopup
				.setLatLng(e.latlng)
				.setContent("")
				.openOn(map);
			console.log(e.latlng);
			var url="add-point-form?x="+ e.latlng.lat +"&y=" + e.latlng.lng;
			$.get(url).done(function(data) {
				addPointPopup.setContent(data);
				addPointPopup.update();
			});
}		}

	map.on('click', onClick); 

</script>




</body>
</html>
