{% load i18n %}
{% get_current_language as current_language %}
{% load static %}

<!DOCTYPE html>
<html lang="{{ current_language }}">
<head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Varosha - maps</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
</head>
<body data-locale="{{ current_language }}">
    {{ point_data|json_script:"point-data" }}
    <div id="map" style="width: 1400px; height: 1000px;"></div>



    <script>
        var currentLocale = document.body.getAttribute('data-locale');

        var corner1 = L.latLng(35.123819,33.931361),
        corner2 = L.latLng(35.082100,33.988048),
        bounds = L.latLngBounds(corner1, corner2);
        center = L.latLng(35.1162,33.9502)
        const map = L.map('map',{
            center: center,
            zoom: 16,
            maxZoom: 19,
            minZoom:15,
            maxBounds: bounds
        });

        // Create a new Leaflet control for the language switcher
        var LanguageControl = L.Control.extend({
            onAdd: function(map) {
                var div = L.DomUtil.create('div', 'language-switcher-control');
                div.innerHTML = '<form action="{% url "set_language" %}" method="post">' +
                    '{% csrf_token %}' +
                    '<select name="language" onchange="this.form.submit()">' +
                    '{% get_current_language as LANGUAGE_CODE %}' +
                    '{% get_available_languages as LANGUAGES %}' +
                    '{% for code, name in LANGUAGES %}' +
                    '<option value="{{ code }}" {% if code == LANGUAGE_CODE %}selected{% endif %}>{{ name }}</option>' +
                    '{% endfor %}' +
                    '</select>' +
                    '</form>';
                L.DomEvent.disableClickPropagation(div);
                return div;
            }
        });

        // Add the language switcher control to the map
        map.addControl(new LanguageControl({position: 'topright'}));

        const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        const osm2 = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        var sat_layer = L.tileLayer('https://varosha-map-data.s3.amazonaws.com/sat256/{z}/{x}/{y}.png', {minZoom: 15, maxZoom: 19, tms: false, attribution: 'Created by QGIS'});
        var aerial_layer = L.tileLayer('https://varosha-map-data.s3.amazonaws.com/1963_256/{z}/{x}/{y}.png', {minZoom: 15, maxZoom: 19, tms: false, attribution: 'Created by QGIS'});
        var survey_layer = L.tileLayer('https://varosha-map-data.s3.amazonaws.com/survey_256/{z}/{x}/{y}.png', {minZoom: 15, maxZoom: 19, tms: false, attribution: 'Created by QGIS'});

        var baseMaps = {
            "{% trans "Street map" %}": osm,
        };
        var layerMaps = {
            "{% trans "Street map" %}": osm2,
            "{% trans "2023 Satellite" %}": sat_layer,
            "{% trans "1963 Aerial"%}": aerial_layer,
            "{% trans "1929 Survey"%}": survey_layer,
        };

        function openEditForm(pointId, x, y) {
            addPointPopup
                .setLatLng([x,y])
                .setContent("")
                .openOn(map);
            var url="add-point-form?x="+ x +"&y=" + y + "&id="+ pointId;
            $.get(url).done(function(data) {
                addPointPopup.setContent(data);
                addPointPopup.update();
            });
        }

        function openUploadForm(pointId, x, y) {
            var popup = L.popup()
                .setLatLng([x,y])
                .setContent(`
                    {% include 'media_upload_form.html' %}
                `)
                .openOn(map);

            $('#media-upload-form').submit(function(event) {
                event.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.success) {
                            alert('Uploaded successfully');
                            popup.close();
                        } else {
                            alert('Error uploading media: ' + response.error);
                        }
                    }
                });
            });
        }

        function openAddPersonForm(pointId, x, y) {
            var popup = L.popup()
                .setLatLng([x,y])
                .setContent(`
                    <form id="add-person-from-map-form" action="/person-form-ajax/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="points" value="${pointId}">
                        <label for="name">{% trans "Name" %}:</label>
                        <input type="text" name="name" id="name" required>
                        <br />
                        <label for="name_gr">{% trans "Name (Greek)" %}:</label>
                        <input type="text" name="name_gr" id="name_gr">
                        <br />
                        <label for="birth_year">{% trans "Birth Year" %}:</label>
                        <input type="text" name="birth_year" id="birth_year">
                        <br />
                        <label for="death_year">{% trans "Death Year" %}:</label>
                        <input type="text" name="death_year" id="death_year">
                        <br />
                        <button type="submit">{% trans "Add New Person" %}</button>
                    </form>
                `)
                .openOn(map);

            $('#add-person-from-map-form').submit(function(event) {
                event.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.success) {
                            popup.close();
							location.reload();  // Reload the page to see the new link
                        } else {
                            alert('Error uploading media: ' + response.error);
                        }
                    }
                });
            });
        }

		function openAddLinkForm(pointId, x, y) {
			var popup = L.popup()
				.setLatLng([x, y])
				.setContent(`
					<form id="add-link-from-map-form" action="/link-form-ajax/" method="post">
						{% csrf_token %}
						<input type="hidden" name="point_id" value="${pointId}">
						<label for="link_name">{% trans "Link Name" %}:</label>
						<input type="text" name="name" id="link_name" required>
						<br />
						<label for="link_url">{% trans "URL" %}:</label>
						<input type="url" name="url" id="link_url" required>
						<br />
						<button type="submit">{% trans "Add New Link" %}</button>
					</form>
				`)
				.openOn(map);

			$('#add-link-from-map-form').submit(function(event) {
				event.preventDefault();
				var formData = new FormData(this);
				$.ajax({
					url: $(this).attr('action'),
					type: $(this).attr('method'),
					data: formData,
					processData: false,
					contentType: false,
					success: function(response) {
						if (response.success) {
							popup.close();
							location.reload();  // Reload the page to see the new link
						} else {
							alert('Error adding link: ' + response.error);
						}
					}
				});
			});
		}

        const markers = [];
        const dbPointData = JSON.parse(
            document.getElementById('point-data').textContent
        );

        dbPointData.forEach(function(location) {
			var marker = L.marker([location.x, location.y]);

			var locationName = (currentLocale === 'el') ? location.name_gr : location.name;

			var popupContent = '<div class="popup-content">';
			if (location.media && location.media.length > 0) {
				var swiperContainer = '<div class="swiper-container"><div class="swiper-wrapper">';
				location.media.forEach(function(media) {
					var media_src = media.url;
					if (media_src.includes('.mp4?') || media_src.includes('.webm?')) {
						swiperContainer += '<div class="swiper-slide"><a class="popup-video" href="' + media_src + '"><video autoplay controls><source src="' + media_src + '" type="video/mp4">Your browser does not support the video tag.</video></a></div>';
					} else {
						swiperContainer += '<div class="swiper-slide"><a class="popup-image" href="' + media_src + '"><img src="' + media_src + '"></a></div>';
					}
				});
				swiperContainer += '</div><div class="swiper-pagination"></div><div class="swiper-button-next"></div><div class="swiper-button-prev"></div></div>';
				popupContent += swiperContainer;
			}
			popupContent += '<p>' + locationName + '</p>';

			if (location.people && location.people.length > 0) {
				popupContent += '<ul>';
				location.people.forEach(function(person) {
					var personName = (currentLocale === 'el') ? person.name_gr : person.name;
					var birthDeathInfo = person.birth_year + " - " + (person.death_year || '');
					popupContent += '<li>' + personName + ' (' + birthDeathInfo + ')</li>';
				});
				popupContent += '</ul>';
			}
			if (location.links && location.links.length > 0) {
				popupContent += '<ul>';
				location.links.forEach(function(link) {
					popupContent += '<li><a href="' + link.url + '" target="_blank">' + link.name + '</a></li>';
				});
				popupContent += '</ul>';
			}
			popupContent += '<button onclick="openUploadForm(' + location.id + ',' + location.x + ',' + location.y + ')">{% trans "Upload Media" %}</button>';
			popupContent += '<button onclick="openAddPersonForm(' + location.id + ',' + location.x + ',' + location.y + ')">{% trans "Add Person" %}</button>';
			popupContent += '<button onclick="openAddLinkForm(' + location.id + ',' + location.x + ',' + location.y + ')">{% trans "Add Link" %}</button>';
			popupContent += '</div>';

			marker.bindPopup(popupContent);
			markers.push(marker);

			marker.on('popupopen', function() {
				new Swiper('.swiper-container', {
					navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev',
					},
					pagination: {
						el: '.swiper-pagination',
						clickable: true,
					},
				});

				// Initialize Magnific Popup
				$('.popup-image').magnificPopup({
					type: 'image',
					gallery: {
						enabled: true
					}
				});

				$('.popup-video').magnificPopup({
					type: 'iframe'
				});
			});
		});

        var poi = L.layerGroup(markers).addTo(map);
        var overlayMaps = {
            "{% trans "Points of Interest" %}": poi
        };

        var layerControl = L.control.layers(layerMaps, overlayMaps, {
            collapsed: false,
        }).addTo(map);

        var popup = L.popup({keepInView: true})
            .setLatLng(center)
            .setContent('<p>{% trans "What is this?" %}<br />{% trans "This is a map of the fenced off city of Varosha,<br /> with layers showing a current satellite view, <br />a 1963 aerial view, <br />and a set of 1929 survey maps." %}<br /><br />{% trans "Use the layer controls at top right to <br />control what you see" %}</p>')
            .openOn(map);

        var addPointPopup = L.popup();

        function onClick(e) {
            if (!Boolean(map.getContainer().querySelector('.leaflet-popup'))) {
                addPointPopup
                    .setLatLng(e.latlng)
                    .setContent("")
                    .openOn(map);
                var url = "add-point-form?x=" + e.latlng.lat + "&y=" + e.latlng.lng;
                $.get(url).done(function(data) {
                    addPointPopup.setContent(data);
                    addPointPopup.update();
                });
            }
        }

        map.on('click', onClick);
    </script>
</body>
</html>
