<!-- person_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person Form</title>
</head>
<body>
    <h1>Person Form</h1>
    <form action="{% if form.instance.id %}{% url 'person_form' form.instance.id %}{% else %}{% url 'person_form' %}{% endif %}" method="post" class="styled-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Submit</button>
    </form>

    <ul>
        {% for person in persons %}
            <li>
                {{ person.name }} -- {{ person.name_gr }} -- {{ person.birth_year }} -- {{ person.death_year }}
                <a href="{% url 'person_form' person.id %}">Edit</a>
                <form action="{% url 'delete_person' person.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="delete-button" onclick="return confirm('Are you sure you want to delete this person?');">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>