<!-- point_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Point Form</title>
</head>
<body>
    <h1>Point Form</h1>
    <form action="{% if form.instance.id %}{% url 'point-form' form.instance.id %}{% else %}{% url 'point-form' %}{% endif %}" method="post" class="styled-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Submit</button>
    </form>

    <ul>
        {% for point in points %}
            <li>
                {{ point.x }} -- {{ point.y }} -- {{ point.name }} -- {{ point.type }}
                <a href="{% url 'point-form' point.id %}">Edit</a>
                <form action="{% url 'delete_point' point.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="delete-button" onclick="return confirm('Are you sure you want to delete this point?');">
                        Delete
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>